@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float-up-left {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(0) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateY(-120px) translateX(-30px) scale(1.1);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px) translateX(-50px) scale(0.7);
  }
}

@keyframes float-up-right {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(0) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateY(-120px) translateX(30px) scale(1.1);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px) translateX(50px) scale(0.7);
  }
}

@keyframes float-up-center {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateY(-130px) scale(1.15);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px) scale(0.6);
  }
}
